.container {
    background-color:white;
    flex-basis: 500px;
    margin: 20px;
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: 0 0 20 px black;
}

.paragraph__spanText {
    margin: 20px auto;
    padding: 20px;
}