html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    background-image: url("../images/canstockphoto25184085.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

.paragraph {
    padding: 20px;
}
